PASSWORD='<some_password>'
# ArcGIS relies on a consistent hostname for clustering.
# subsequent instances will need a "primary" instance hostname to join against and create the cluster/site.
HOSTNAME='arcgis-primary'
EFSDNS='<some-efs-dns-name>'
# Only set this if you're joining an instance
PRIMARY_MACHINE_URL='<primary_ip>'
